<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @operator.name %>様、example.comへようこそ。</h1>
      <p>
      example.comへのサインアップが成功しました。
      your user-email is: <%= @operator.email %>.<br>
    </p>
    <p>
      このサイトにログインするには、<%= 'こちら' %>をクリックしてください。
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>
